{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Choose classes you want to level up.</h1>

    {{ form(form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('characters_show', { 'id': entity.id }) }}">
                Back to the character
            </a>
        </li>
    </ul>
{% endblock %}